:root{
    --primaryy: #FFE804;
}
body{
    background-color: #33363f;
}

.menu-btn{
    background-color: #ffffff1a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
}

.menu-list li{
    display: flex;
}

.menu-list{
    list-style: none;
    padding: 0;
    margin: 41px 0px 45px;
}

.menu-list li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    margin-block: 12px;
    border-radius: 8px;
}

.menu-list li a.active {
    color: rgb(26, 26, 27) !important;
    background-color: var(--primaryy) !important;
    transition: color 0.4s ease 0s;
}

.menu-list li:hover a{
    background-color: rgba(255, 255, 255, 0.04);
    color: white;
}

.options-list{
    list-style: none;
    padding: 12px 0px;
    position: relative;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 17px;
    font-weight: 600;
    border-style: solid;
    border-width: 1px 0px;
    border-color: rgb(69, 72, 81);
}

.options-list a{
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.options-list > a + a {
    margin-top: 16px;
}

.social-media{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0;
    position: relative;
}

.social-media .icon a{
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.social-media .icon a svg{
    height: 18px;
    width: 18px;
}

.dashboard{
    background-color: #252831;
    border-radius: 24px 0 0 24px;
}

.header{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-color: rgb(69, 72, 81);
    color: white;
    min-height: 68px;
    padding: 16px 24px 16px 24px;
    box-shadow: none;
    align-items: center;
}

.header h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
    color: white;
}

.header-btns{
    display: flex;
    /* align-items: center; */
}

.header-btns button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 8px 16px 9px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    outline: 0px;
    border: 0px;
    margin-right: 8px;
}

.header-btns button svg{
    width: 24px;
    height: 24px;
    margin-right: 4px;
    margin-left: 0px !important;
}

.main{
    width: 100%;
    height: fit-content;
    margin-top: 89px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
    position: relative;
}

.btn-group{
    background-color: #33363F;
    border-radius: 8px;
}
.btn-group .btn{
    font-size: 16px;
    line-height: 1.25;
    font-weight: 600;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: transparent;
    border: none !important;
    border-radius: 8px !important;
}

.btn-check:checked+.btn-outline-primary{
    background-color: var(--primaryy) !important;
    color: black !important;
}

.btn-check:checked+.btn-outline-primary:focus{
    box-shadow: none !important;
}

.btn-check:focus+.btn-outline-primary, .btn-outline-primary:focus{
    box-shadow: none;
}